body {
  background-color: #ffe4e1;
  margin: 0;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  border-color: grey;;
  width: 5%;
}

h3 {
  color: #66BFBF;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

p {
  font-family: cursive;
}

img {
  border-radius: 100%;
}

img:hover {
  background-color: gold;
}



/**********Class**********/

.goatphoat {
  border-radius: 100%;
  width: 48px;
  height: 40px;
  position: fixed;
  background-color: black;
  z-index: 2;
}

/*space of navbar*/
.topbar {
  margin: -10px 0 0 20px;
  overflow: hidden;
}

.topbar a:hover {
  background-color: #ddd;
  color: black;
}


.topbar{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-family: 'Press Start 2P';
  font-size: 22px;
}

.top2 {
  background-color: black;
  width: 100%;
  height: 40px;
  position: fixed;
  margin: 0;
  z-index: 2;
}

.spacebar {
  background-color: black;
  width: 100%;
  height: 29.031px;
}
